<div class="flexrow anarchy-monitor anarchy-monitor-anarchy">
	<label>{{localize ANARCHY.common.anarchy.danger}}</label>
	<span class="flex-grow-3 gm-anarchy-bar">
		{{> "systems/anarchy/templates/common/anarchy-bar.hbs"
			rowlength=6
			value=anarchy.value
			max=anarchy.max
			scene=anarchy.scene
			labelkey=ANARCHY.common.anarchy.danger
			iconChecked=(iconSrc 'icons/danger-point.webp' 'checkbar-img')
			iconUnchecked=(iconSrc 'icons/danger-point-off.webp' 'checkbar-img')
			iconScene=(iconSrc 'icons/anarchy-point-scene.webp' 'checkbar-img')
		}}
	</span>
</div>
