<div id="anarchy-manager">
  <div class="anarchy-manager">
    <div class="anarchy-manager-header">
      <p class="anarchy-manager-move-handle">{{localize SRA.anarchy.title}}</p>
    </div>
    <div class="anarchy-manager-content">
			<div class="flexrow">
				{{> "systems/shadowrun-anarchy/templates/common/counteranarchy.hbs"
			 		anarchy=anarchy
				 	maxanarchy=anarchy
				}}
			</div>
			<div class="flexrow">
				<label>{{localize SRA.anarchy.gmAnarchy}}</label>
				<input id="anarchy-manager-gmAnarchy" type="number" data-dtype="Number" value="{{anarchy}}" disabled/>
				<a class="click-item-add flex-shrink-end" title="{{localize SRA.common.add}}"><i class="fas fa-plus-circle"></i></a>
				</div>
			</div>
    </div>
  </div>
</div>
