<div class="ANARCHY-anarchy flexrow">
	<label class="flex-shrink-start">{{localize ANARCHY.common.anarchy.danger}}</label>
	<span class="flex-grow-2 gm-anarchy-bar">
		{{> "systems/anarchy/templates/common/anarchy-bar.hbs"
			rowlength=0
			value=anarchy.value
			max=anarchy.max
			scene=anarchy.scene
			labelkey=ANARCHY.common.anarchy.danger
			iconChecked=(iconSrc 'icons/danger-point.webp' 'checkbar-img')
			iconUnchecked=(iconSrc 'icons/danger-point-off.webp' 'checkbar-img')
			iconScene=(iconSrc 'icons/anarchy-point-scene.webp' 'checkbar-img')
		}}
	</span>
</div>
