<div class="gm-manager-bar
	anarchy-monitor">
	<label>{{localize ANARCHY.actor.counters.danger}}</label>
	<span class="flex-grow-3 gm-anarchy-bar">
		{{> "systems/anarchy/templates/monitors/anarchy-bar.hbs"
			code='danger'
			rowlength=6
			value=anarchy.value
			max=anarchy.max
			scene=anarchy.scene
			labelkey='ANARCHY.actor.counters.danger'
		}}
	</span>
</div>
