{{#each convergences as |convergence|}}
<div class="actor-convergence" data-actor-id="{{convergence.actorId}}"></div>
<label>{{convergence.actor.name}}</label>
<label>{{convergence.convergence}}</label>
<a class="click-convergence-element"></a>
{{/each}}