<div class="SRA-anarchy flexrow">
	<span class="flex-grow-2 gm-difficulty-bar">
		{{> 'systems/shadowrun-anarchy/templates/app/gm-difficulty-buttons.hbs'
			 difficultyPools=difficultyPools
		}}
	</span>
</div>
