{{#each difficultyPools as |dp|}}
	<a class="item style-button click-roll-difficuty-pool flex-grow-0"
			data-difficulty="{{dp.difficulty}}"
			data-pool="{{dp.pool}}"
			>
	<label>{{dp.difficulty}} : {{dp.pool}}</label>
	</a>
{{/each}}
