<div id="gm-manager">
  <div class="gm-manager">
    <div class="gm-manager-header">
      <p class="gm-manager-move-handle">{{localize SRA.gmManager.title}}</p>
    </div>
    <div class="gm-manager-content">
      {{> "systems/shadowrun-anarchy/templates/app/gm-anarchy.hbs"}}
    </div>
  </div>
</div>
