<div id="gm-manager" class="app window-app {{#each options.classes as |cssClass|}}{{cssClass}}{{/each}}">
  <div class="header app-title-bar">
    <label>{{localize ANARCHY.gmManager.title}}</label>
  </div>
  <div class="content">
    {{> "systems/anarchy/templates/app/gm-anarchy.hbs"}}
  </div>
  <div class="content">
    {{> "systems/anarchy/templates/app/gm-difficulty.hbs"}}
  </div>
</div>
