<div id="gm-manager">
  <div class="header gm-manager-move-handle">
    <label>{{localize ANARCHY.gmManager.title}}</label>
  </div>
  <div class="content">
    {{> "systems/anarchy/templates/app/gm-anarchy.hbs"}}
  </div>
  <div class="content">
    {{> "systems/anarchy/templates/app/gm-difficulty.hbs"}}
  </div>
</div>
