<div class="flexcol anarchy-monitor">
  <label class="monitor-label">
    {{localize ANARCHY.actor.monitors.physical}}
  </label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='physical'
    value=data.data.monitors.physical.value
    max=data.data.monitors.physical.max
    rowlength=3
    adjust=true
  }}
  <label class="resitance-label">
    {{localize ANARCHY.actor.monitors.resistance}}
    <input class="info-value" type="number" data-dtype="Number" maxlength="2"
      name="data.monitors.physical.resistance"
      value="{{data.data.monitors.physical.resistance}}" 
    />
  </label>
</div>
