<div class="flexcol anarchy-monitor">
  <label class="monitor-label">
    {{localize 'ANARCHY.actor.monitors.stun'}}
  </label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='stun'
    value=data.data.monitors.stun.value
    max=(sum data.data.monitors.stun.max data.data.monitors.stun.maxBonus)
    rowlength=3
    adjust=true
  }}
  <label class="resitance-label">
    {{localize ANARCHY.actor.monitors.resistance}}:
    {{data.data.monitors.stun.resistanceBonus}}
  </label>
</div>
