<label class="info-label" for="data.counters.karma.value">
  {{localize 'ANARCHY.actor.counters.karma'}}
</label>
<input class="info-value" type="number" data-dtype="Number"
  name="data.counters.karma.value" value="{{data.data.counters.karma.value}}" 
/>
<label class="info-label" for="data.counters.karma.total">
  {{localize 'ANARCHY.actor.counters.karmaTotal'}}
</label>
<input class="info-value" type="number" data-dtype="Number"
  name="data.counters.karma.total" value="{{data.data.counters.karma.total}}" 
/>