/* specifics for style-anarchy-dark */
:root {
  --anarchy-dark-background: hsla(0, 60%, 1%, 1);
  --anarchy-dark-background-attributes: hsla(47, 100%, 55%, 0.75);
  --anarchy-dark-background-secondary-attributes: hsla(47, 85%, 45%, 0.75);
  --anarchy-dark-background-item: hsla(15, 60%, 15%, 0.5);
  --anarchy-dark-background-item-img:hsla(31, 65%, 40%, 0.5);
  --anarchy-dark-background-positive: hsla(180, 50%, 10%, 1);
  --anarchy-dark-background-negative: hsla(300, 50%, 10%, 1);

  --anarchy-dark-background-lighter: hsla(0, 0%, 100%, 0.2);
  
  --anarchy-dark-background-tooltip: hsla(207, 40%, 70%, 1);
  --anarchy-dark-background-button: var(--anarchy-dark-background-attributes);
  --anarchy-dark-background-weapon: hsla(0, 0%, 80%, 0.3);
  
  --anarchy-dark-tint-weapon-odd: hsla(0, 0%, 70%, 0.3);
  --anarchy-dark-tint-weapon-even: hsla(0, 0%, 50%, 0.3);
  --anarchy-dark-tint-weapon-hover: hsla(200, 10%, 60%, 0.4);
  --anarchy-dark-tint-npc: hsla(90, 29%, 70%, 0.15);
  
  --anarchy-dark-transparent: hsla(0, 0%, 0%, 0.0);
  
  --anarchy-dark-color-font: hsla(40, 80%, 90%, 1);
  --anarchy-dark-color-button: hsla(0, 90%, 10%, 1);
  --anarchy-dark-color-border:hsla(0, 90%, 30%, 0.8);
  --anarchy-dark-color-attribute: var(--anarchy-dark-color-button);
  --anarchy-dark-color-button-border: hsla(0, 70%, 30%, 0.5);
  --anarchy-dark-color-border-light: hsla(0, 0%, 100%, 0.3);
  
  --anarchy-dark-color-dice-prowess: hsla(47, 60%, 40%, 1);
  --anarchy-dark-color-dice-glitch: hsla(300, 80%, 20%, 1);
  --anarchy-dark-color-controls: var(--anarchy-dark-background-item-img);
  --anarchy-dark-color-text-hyperlink: hsla(47, 90%, 50%, 0.5);
  --anarchy-dark-shadow-section: inset 0px 12px 12px -8px var(--anarchy-dark-color-border);
  --anarchy-dark-shadow-attribute: 5px -5px 5px -2px var(--anarchy-dark-color-border);
  --anarchy-dark-shadow-anarchy-button: 3px -3px 6px -3px var(--anarchy-dark-color-button-button);
  --anarchy-dark-shadow-items-group: 5px 5px 5px -2px var(--anarchy-dark-color-border);

  --anarchy-dark-color-resource-checked: hsla(39, 70%, 70%, 0.9);
  --anarchy-dark-color-monitor-checked: hsla(9, 100%, 50%, 0.9);
  --anarchy-dark-color-unchecked: hsla(39, 99%, 30%, 0.5);
}


#gm-manager.style-anarchy-dark {
  background: var(--anarchy-dark-background);
  color: var(--anarchy-dark-color-font);
}

#gm-manager.style-anarchy-dark div.header{
  border-bottom: 1px solid var(--anarchy-dark-color-border);
}
#gm-manager.style-anarchy-dark label {
  color: var(--anarchy-dark-color-font);
}
#gm-manager.style-anarchy-dark a.anarchy-button,
#gm-manager.style-anarchy-dark .anarchy-button{
  background: var(--anarchy-dark-background-button);
}
#gm-manager.style-anarchy-dark .anarchy-button label {
  color: var(--anarchy-dark-color-button);
}
#gm-manager.style-anarchy-dark header {
  border-bottom: 1px solid var(--anarchy-dark-color-border-light);
  color: var(--anarchy-dark-color-font);
}


.style-anarchy-dark .window-content {
  background: var(--anarchy-dark-background);
  color: var(--anarchy-dark-color-font);
}

.style-anarchy-dark .window-content form.npc-sheet {
  background: var(--anarchy-dark-tint-npc);
}

.style-anarchy-dark .vehicle-sheet .passport-img img{
  background-color: var(--anarchy-dark-background-item-img);
}
.style-anarchy-dark .device-sheet .passport-img img{
  background-color: var(--anarchy-dark-background-item-img);
}


.style-anarchy-dark .section-group {
  border-top: 1px solid var(--anarchy-dark-color-border);
  box-shadow: var(--anarchy-dark-shadow-section);  
}
.style-anarchy-dark .section-group h2{
  border-bottom: none;
}

.style-anarchy-dark .attribute-box {
  box-shadow: var(--anarchy-dark-shadow-attribute);
}

.style-anarchy-dark .window-content :is(.anarchy-attribute, .anarchy-secondary-attribute),
.style-anarchy-dark .window-content :is(.anarchy-attribute, .anarchy-secondary-attribute) :is(input, select, label, button) {
  color: var(--anarchy-dark-color-attribute);
}

.style-anarchy-dark .anarchy-attribute {
  background: var(--anarchy-dark-background-attributes);
}
.style-anarchy-dark .anarchy-secondary-attribute {
  background: var(--anarchy-dark-background-secondary-attributes);
}

.style-anarchy-dark .attribute-box input {
  background: var(--anarchy-dark-background-lighter);
}

.style-anarchy-dark .wordlist {
  border: 1px solid var(--anarchy-dark-color-border-light);
}

.style-anarchy-dark .wordlist:is(.anarchy-keywords, .anarchy-dispositions, .anarchy-cues) input {
  background: var(--anarchy-dark-background-item);
  border-style: none;
}

.style-anarchy-dark div:is(.anarchy-keywords, .anarchy-dispositions, .anarchy-cues) {
  border: none;
  background-color: var(--anarchy-dark-transparent);
}


.style-anarchy-dark .items-group div.item {
  background: var(--anarchy-dark-background-item);
  border:1px solid var(--anarchy-dark-color-border-light);
  box-shadow: var(--anarchy-dark-shadow-items-group);
}


/* Weapons lists */
.style-anarchy-dark .weapon-list .weapon-header{
  background: var(--anarchy-dark-background-item);
}
.style-anarchy-dark .weapon-list .item:nth-child(even) {
  background: var(--anarchy-dark-tint-weapon-even);
}
.style-anarchy-dark .weapon-list .item:nth-child(odd) {
  background: var(--anarchy-dark-tint-weapon-odd);
}
.style-anarchy-dark .weapon-list .item:hover {
  background: var(--anarchy-dark-tint-weapon-hover);
}


.style-anarchy-dark :is(div,li).item.anarchy-item img {
  background: var(--anarchy-dark-background-item-img);
}
.style-anarchy-dark .item.anarchy-quality.negative {
  background: var(--anarchy-dark-background-negative);
}
.style-anarchy-dark .item.anarchy-quality.positive {
  background: var(--anarchy-dark-background-positive);
}

.style-anarchy-dark :is(input, select, label, button) {
  color: var(--anarchy-dark-color-font);
}
.style-anarchy-dark .window-content select option{
  background: var(--anarchy-dark-background);
  color: var(--anarchy-dark-color-font);
}

.style-anarchy-dark .anarchy-button label {
  color: var(--anarchy-dark-color-button);
}

.style-anarchy-dark .anarchy-button {
  background: var(--anarchy-dark-background-button);
  color: var(--anarchy-dark-color-button);
  /* border-radius: 6px; */
  border: 1px outset var(--anarchy-dark-color-button-border);
  box-shadow: var(--anarchy-dark-shadow-anarchy-button);
}

.style-anarchy-dark .anarchy-button:hover {
  color: var(--hover-tint);
}

.style-anarchy-dark .anarchy-button:active {
  border: 1px inset var(--anarchy-dark-color-button-border);
  position: relative;
  top: -1px;
  left: -1px;
}

.style-anarchy-dark .tooltip .tooltip-roll-modifiers {
  background: var(--anarchy-dark-background-tooltip);
}

.style-anarchy-dark a.item-control i,
.style-anarchy-dark a.item-control img {
  font-size: small;
  color: var(--anarchy-dark-color-controls);
}

.style-anarchy-dark div.checkbar-root[data-monitor-code='edge'] a.click-checkbar-element[data-checked=true] i {
  color: var(--anarchy-dark-color-resource-checked);
}
.style-anarchy-dark a.click-checkbar-element[data-checked=true] i {
  color: var(--anarchy-dark-color-monitor-checked);
}
.style-anarchy-dark a.click-checkbar-element[data-checked=false] i {
  color: var(--anarchy-dark-color-unchecked);
}

