:root {
  --font-color: hsl(0, 0%, 83%);
  --transparent: hsla(0, 0%, 0%, 0.0);
  --controls-color: hsla(100, 30%, 60%, 0.6);
  --checked-color: hsla(50, 80%, 50%, 0.6);
  --unchecked-color: hsla(130, 80%, 40%, 0.6);
  --wordlist-color: hsla(200, 50%, 70%, 0.3);
  --border-dark:hsla(200, 10%, 30%, 0.4);
  --border-medium:hsla(200, 10%, 45%, 0.4);
  --border-light: hsla(200, 10%, 60%, 0.4);
  --hover-tint: hsla(210, 44%, 69%, 0.486);
  --background-dark:hsla(200, 5%, 30%, 0.8);
  --background-black: hsla(0, 0%, 0%, 0.8);
  --lighter-npc: hsla(90, 29%, 30%, 0.15);
  --gradient-dark: repeating-linear-gradient(80deg,
    hsla(0, 0%, 0%, 0.8) 0% 5%,
    hsla(0, 0%, 15%, 0.8) 7%,
    hsla(0, 0%, 5%, 0.9) 9% 12%,
    hsla(0, 0%, 20%, 0.8) 16%,
    hsla(0, 0%, 0%, 0.8) 20% 25%, 
    hsla(0, 0%, 15%, 0.8) 38%,
    hsla(0, 0%, 5%, 0.8) 42%, 
    hsla(0, 0%, 0%, 0.8) 50%);
  --gradient-silver: linear-gradient(45deg,
    hsla(249, 26%, 29%, 0.4),
    hsla(237, 13%, 73%, 0.4), 
    hsla(195, 3%, 24%, 0.6), 
    hsla(43, 7%, 79%, 0.4), 
    hsla(348, 14%, 21%, 0.4));
  --gradient-ellipse-silver: radial-gradient(ellipse farthest-corner at 20% 20%,
    hsla(249, 26%, 29%, 0.4),
    hsla(237, 13%, 73%, 0.4), 
    hsla(195, 19%, 29%, 0.6), 
    hsla(239, 43%, 72%, 0.4), 
    hsla(184, 22%, 31%, 0.4));
  --gradient-silver-light-opaque: linear-gradient(30deg,
    hsla(249, 46%, 86%, 0.9), 
    hsla(236, 22%, 87%, 0.9), 
    hsla(196, 5%, 53%, 0.9),
    hsla(41, 10%, 61%, 0.9),
    hsla(347, 8%, 78%, 0.9));
  --gradient-gold: repeating-linear-gradient(60deg,
    hsla(40, 50%, 50%, 0.4),
    hsla(55, 92%, 86%, 0.4),
    hsla(41, 63%, 43%, 0.4), 
    hsla(55, 89%, 85%, 0.4), 
    hsla(38, 72%, 39%, 0.4));
  --gradient-purple-black: radial-gradient(ellipse farthest-corner at 20% 20%,
    hsla(0, 0%, 0%, 0.7),
    hsla(282, 47%, 33%, 0.4),
    hsla(274, 77%, 40%, 0.4),
    hsla(282, 47%, 33%, 0.4),
    hsla(319, 30%, 10%, 0.9),
    hsla(0, 0%, 0%, 0.7));
}

h1, h2, h3, h4 {
  font-weight: bold;
}

div.app.window-app.sheet .window-content {
  background: var(--background-black);
  color: var(--font-color);
}
div.app.window-app.sheet .window-content > form.npc-character-sheet {
  background: var(--lighter-npc);
}


div.app.window-app.sheet .window-content input,
div.app.window-app.sheet .window-content select,
div.app.window-app.sheet .window-content label,
div.app.window-app.sheet .window-content button {
  color: var(--font-color);
}

div.app.window-app.sheet .window-content select option{
  background-color: var(--background-dark);
  color: var(--font-color);
}

div.item.flexcol {
  gap: 2px;
  align-items: flex-start;
}

li.list-item.item.flexrow,
div.item.flexrow {
  gap: 1px;
  align-items: flex-start;
  justify-content: space-between;
  vertical-align: top;
}
.flex-group-left {
  gap: 2px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: left;
  vertical-align: top;
}

.flex-grow-3 { flex-grow: 3; }
.flex-grow,
.flex-grow-2 { flex-grow: 2; }
.flex-grow-0 { flex-grow: 0; }
.flex-wrap { flex-wrap: wrap; }
.flex-shrink { flex: 'flex-shrink'; }
.flex-end { justify-content: flex-end; }
.flex-shrink-end {
  flex: 'flex-shrink';
  flex-grow: 0;
  align-items: flex-end;
}
.flex-shrink-control-start {
  flex: 'flex-shrink';
  flex-grow: 1rem;
  justify-content: left;
  max-width: 2rem;
}
.flex-shrink-start {
  flex: 'flex-shrink';
  flex-grow: 0.5;
  justify-content:
  flex-start;
  min-width: 32px;
}
.flex-shrink-left { 
  flex-grow: 0;
  flex-wrap: nowrap;
  flex-basis: content;
  flex-direction: row;
  justify-content: left;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-2col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dialog-img,
.chat-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
  border: 0;
  padding: 2px;
  float: left;
  border-radius: 6px;
  object-fit: cover;
}

.sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 128px;
  flex: 0 0 128px;
  height: 128px;
  width: 128px;
  margin-right: 10px;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 6px;
}

.sheet-item-img {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  margin-right: 0.1rem;
  vertical-align: top;
  border-radius: 6px;
}

.editor {
  border: 2;
  height: 150px;
  min-height: 80px;
  padding: 0 3px;
}

.tox .tox-editor-container {
  background: var(--gradient-silver-light-opaque);
}
.tox .tox-edit-area {
  padding: 0 8px;
}
div.style-content-block,
div.style-monitor-counters {
  margin: 2px;
  padding: 2px;
}

div.style-chat-modifiers {
  margin: 1px;
  padding: 1px;
  border-width: 1px;
  border-style: dashed;
}
div.style-chat-anarchy-risk-glitch {
  margin: 1px;
  padding: 1px;
  border-radius: 6px;
  background: var(--gradient-purple-black) !important;
}
div.style-chat-anarchy-risk-prowess {
  margin: 1px;
  padding: 1px;
  border-radius: 6px;
  background: var(--gradient-gold) !important;
}

div.style-keyword-list,
div.style-disposition-list,
div.style-cue-list {
  margin: 2px;
  padding: 2px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-light);
  background-color: var(--wordlist-color);
}
div.style-keyword-list input,
div.style-disposition-list input,
div.style-cue-list input{
  border-width: 1px;
  border-style: dashed;
  border-color: var(--border-light);
}

div.item {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-color: var(--border-light);
  border-style: solid;
  border-radius: 6px;
  max-width: 16rem;
  flex-basis: auto;
}

div.item.style-attribute {
  background: var(--gradient-gold) !important;
  min-width: auto;  
  max-width: 6rem;
}
div.item input.style-attribute-value-large {
  max-width: 2rem;
  font-size: large;
}
div.item input.style-attribute-value-small {
  max-width: 1rem;
}

div input.style-armor-header-label {
  flex-grow: 1.5;
}
div input.style-armor-header-value {
  max-width: 2rem;
  flex: 'flex-shrink'; 
}

div.item.style-skill {
  background: var(--gradient-silver);
}
div.item.style-gear,
div.item.style-contact{
  background: var(--wordlist-color) !important;
}
div.item.style-shadowamp {
  background: var(--gradient-silver);
}
div.item.style-quality {
  background: var(--gradient-ellipse-silver);
}
div.item.style-quality.style-quality-negative {
  background: var(--gradient-purple-black);
  border-style: dashed;
}  

li.list-header {
  align-content: flex-start;
  justify-content: flex-start;
  font-weight: bold;
  flex-grow: 0;
}
li.flexrow.item span {
  text-align: left;  
}
.list-item {
  margin: 0.1rem;
  box-shadow: inset 0px 0px 1px var(--border-medium);
  border-radius: 0.25rem;
  padding: 0.1rem;
  flex: 1 1 3rem;
  display: flex !important;
  align-items: baseline !important;
}

.alterne-list > .list-item:hover {
  background: var(--border-light);
}
.alterne-list > .list-item:nth-child(even) {
  background: var(--border-dark);
}
.alterne-list > .list-item:nth-child(odd) {
  background: var(--border-medium);
}


a.item-control i {
  font-size: small;
  color: var(--controls-color);
}
a.click-checkbar-element.checked-element i {
  color: var(--checked-color);
}
a.click-checkbar-element.unchecked-element i {
  color: var(--unchecked-color);
}
i.item-control-transparent {
  font-size: small;
  color: var(--transparent);
}

div.form-group {
  align-items: flex-start;
}

input.item-field-value-numeric {
  max-width: 2rem;
}

.style-button {
  background: var(--gradient-silver);
  border-radius: 6px;
  border: 2px groove var(--border-medium);
  display: inline-block;
  cursor: pointer;
  margin: 2px;
  padding: 3px 5px;
  position: relative;
  height: fit-content;
  width: fit-content;
}
.style-button:hover {
  background-color: var(--hover-tint);
}
.style-button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.window-app.sheet .window-content .tooltip:hover .tooltiptext {
  top: 2rem;
  left: 2rem;
  margin: 0;
  padding: 0.25rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-dotted {
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  text-align: center;
  /* Position the tooltip text */
  top: 20px;
  position: absolute;
  z-index: 1;
  
  /* Fade in tooltip */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-roll-modifiers {
  z-index: 1000 ;
  width: 200px;
  left: -20px;
  background: var(--gradient-silver-light-opaque);
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 3px 0;
}

#gm-manager {
	position: absolute;
  display: block;
  z-index: 100;
}

.gm-manager{
  min-width: 206px;
  grid-row: 2;
  grid-column: 1;
  height: fit-content;
  margin: 0;
  padding: 0;
  border: 1px solid var(--border-medium);
  border-radius: 3%;
  background: var(--background-black);
  z-index: 100;
}

.gm-manager-header{
  display: grid;
	margin: 3px;
	padding: 3px;
	width: 200px;
  border-bottom: 1px solid var(--border-light);
  color: var(--font-color);
}
.gm-manager-content {
  padding: 3px;
  color: var(--font-color);
  vertical-align: top;
}
