/** common definitions **/
:root {
  --font-color-light: hsla(0, 0%, 83%, 0.9);
  --font-color-dark: hsla(0, 10%, 10%, 0.9);
  --font-color-half-dark: hsla(0, 10%, 10%, 0.5);
  --transparent: hsla(0, 0%, 0%, 0.0);
  --controls-color: hsla(207, 30%, 60%, 0.6);
  --checked-resource-color: hsla(207, 100%, 80%, 1);
  --checked-monitor-color: hsla(9, 70%, 30%, 0.9);
  --unchecked-color: hsla(207, 10%, 50%, 1);
  --wordlist-color: hsla(200, 50%, 70%, 0.3);
  --border-dark:hsla(200, 10%, 30%, 0.4);
  --border-medium:hsla(200, 10%, 45%, 0.4);
  --border-light: hsla(200, 10%, 60%, 0.4);
  --hover-tint: hsla(210, 44%, 69%, 0.486);
  --background-dark:hsla(200, 5%, 30%, 0.8);
  --background-black: hsla(0, 0%, 10%, 0.8);
  --background-blue: hsla(250, 50%, 20%, 0.9);
  --lighter-npc: hsla(90, 29%, 30%, 0.15);
  --darker-npc: hsla(90, 29%, 70%, 0.15);
  --background-inactive: repeating-linear-gradient(60deg,
    hsla(0, 0%, 40%, 0.5) 0px 5px,
    hsla(0, 0%, 80%, 0.5) 5px 10px);
  --gradient-dark: repeating-linear-gradient(80deg,
    hsla(0, 0%, 0%, 0.8) 0% 5%,
    hsla(0, 0%, 15%, 0.8) 7%,
    hsla(0, 0%, 5%, 0.9) 9% 12%,
    hsla(0, 0%, 20%, 0.8) 16%,
    hsla(0, 0%, 0%, 0.8) 20% 25%, 
    hsla(0, 0%, 15%, 0.8) 38%,
    hsla(0, 0%, 5%, 0.8) 42%, 
    hsla(0, 0%, 0%, 0.8) 50%);
  --gradient-silver: linear-gradient(135deg,
    hsla(249, 26%, 29%, 0.4),
    hsla(237, 13%, 73%, 0.4), 
    hsla(195, 3%, 24%, 0.6), 
    hsla(43, 7%, 79%, 0.4), 
    hsla(348, 14%, 21%, 0.4));
  --gradient-ellipse-silver: radial-gradient(ellipse farthest-corner at 20% 20%,
    hsla(249, 26%, 29%, 0.4),
    hsla(237, 13%, 73%, 0.4), 
    hsla(195, 19%, 29%, 0.6), 
    hsla(239, 43%, 72%, 0.4), 
    hsla(184, 22%, 31%, 0.4));
  --gradient-silver-light-opaque: linear-gradient(150deg,
    hsla(249, 46%, 86%, 0.9), 
    hsla(236, 22%, 87%, 0.9), 
    hsla(196, 5%, 53%, 0.9),
    hsla(41, 10%, 61%, 0.9),
    hsla(347, 8%, 78%, 0.9));
  --gradient-gold: repeating-linear-gradient(120deg,
    hsla(40, 50%, 50%, 0.4),
    hsla(55, 92%, 86%, 0.4),
    hsla(41, 63%, 43%, 0.4), 
    hsla(55, 89%, 85%, 0.4), 
    hsla(38, 72%, 39%, 0.4));
  --gradient-purple-black: radial-gradient(ellipse farthest-corner at 20% 20%,
    hsla(0, 0%, 0%, 0.7),
    hsla(282, 47%, 33%, 0.4),
    hsla(274, 77%, 40%, 0.4),
    hsla(282, 47%, 33%, 0.4),
    hsla(319, 30%, 10%, 0.9),
    hsla(0, 0%, 0%, 0.7));

  /* specifics for root-style-anarchy */
  --anarchy-background: url("anarchy-background.webp") repeat;
  --anarchy-font: hsla(0, 10%, 10%, 1);
  --anarchy-attributes-background: hsla(47, 90%, 50%, 0.5);
  --anarchy-item-background: hsla(44, 0%, 100%, 0.5);
  --anarchy-quality-negative-background: hsla(0, 0%, 70%, 0.5);
  --anarchy-controls-color: hsla(207, 40%, 60%, 0.7);
  --anarchy-tooltip-background: hsla(207, 40%, 70%, 1);
  --anarchy-button-background: hsla(47, 40%, 70%, 1);
  --anarchy-weapon-background: hsla(0, 0%, 80%, 0.3);
  --anarchy-weapon-background-odd: hsla(0, 0%, 70%, 0.3);
  --anarchy-weapon-background-even: hsla(0, 0%, 50%, 0.3);
  --anarchy-item-img-background: var(--anarchy-controls-color);

}

#logo {
  content : url(anarchy-logo.webp);
  width: 100px;
  height: 57px;
}
#pause > img {
  content: url(anarchy-pause.webp);
  height: 192px;
  width: 192px;
  top: -35px;
  left: calc(50% - 96px);
}

/* common anarchy sheets styles*/
h1, h2, h3 { font-weight: bold; }
h4 { font-weight: 500; }
h3, h4 {
    padding: 0.25rem;
}

img.anarchy-img {
  -webkit-box-flex: 0;
  border: 0;
  padding: 2px;
  float: left;
  border-radius: 6px;
  object-fit: contain;
  vertical-align: top;
}

:is(.anarchy-dialog, .chat-message) :is(img.actor-img, img.skill-img ,img.weapon-img) {
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
}

.sheet header.sheet-header > div{
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
}
.sheet header.sheet-header img.profile-img {
  -ms-flex: 0 0 128px;
  flex: 0 0 128px;
  height: 128px;
  width: 128px;
  margin-right: 5px;
  object-position: 50% 0%;
}
input.anarchy-character-genre {
  max-width: 6rem;
}
.sheet header.sheet-header img.anarchy-img.owner-actor-img {
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

img.anarchy-img.actor-img {
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  width: 64px;
  height: 64px;
}

img.anarchy-img.item-img {
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  flex-grow: 0;
  margin-right: 0.1rem;
}

div.anarchy-monitor {
  flex: content;
  flex-grow: 0;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2px;
  min-width: 6rem;
  max-width: 9rem;
}

div.anarchy-monitor :is(label, h3) {
  flex-grow: 0.5;
  margin: 2px;
}

div.anarchy-monitor .check-rootbar {
  height: max-content;
}


.sheet .anarchy-monitor-anarchy {
  flex: content;
  min-width: 13rem !important;
}

.sheet header.sheet-header img.checkbar-img,
img.checkbar-img {
  flex: none;
  width: 2rem;
  height: 2rem;
  margin: 0px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  border: none;
}
img.checkbar-img:hover {
  background-color: var(--hover-tint);
}
img.checkbar-img:active {
  position: relative;
  top: 1px;
}

div.anarchy-block {
  flex: content;
  flex-grow: 0;
  margin: 2px;
  padding: 2px;
}

div.anarchy-risk-glitch {
  margin: 1px;
  padding: 1px;
  border-radius: 6px;
  background: var(--gradient-purple-black) !important;
}
div.anarchy-risk-prowess {
  margin: 1px;
  padding: 1px;
  border-radius: 6px;
  background: var(--gradient-gold) !important;
}

div.anarchy-keywords,
div.anarchy-dispositions,
div.anarchy-cues {
  margin: 2px;
  padding: 2px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-light);
  background-color: var(--wordlist-color);
}
div.anarchy-keywords input,
div.anarchy-dispositions input,
div.anarchy-cues input{
  border-width: 1px;
  border-style: inset;
  border-color: var(--border-light);
}
.item.item-inactive {
  background: var(--background-inactive) !important;
}
li.item {
  gap: 1px;
  align-items: flex-start;
  justify-content: space-between;
  border-width: 1px;
  border-color: var(--border-light);
  border-style: solid;
  vertical-align: top !important;
  flex-basis: content;
}

div.item {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-color: var(--border-light);
  border-style: solid;
  border-radius: 6px;
  max-width: 16rem;
  flex-basis: auto;
}

div.item.anarchy-attribute {
  background: var(--gradient-gold);
  min-width: auto;  
  max-width: 6rem;
}
div.item.anarchy-attribute input.larger,
div.anarchy-vehicle-attribute input {
  font-size: large;
}
div.item.anarchy-attribute input.small {
  max-width: 1.5rem;
}

div.anarchy-vehicle-attribute {
  background: var(--anarchy-item-background);
  min-width: auto;  
  max-width: 6rem;
}
select.anarchy-vehicle-model {
  background: var(--anarchy-item-background);
  width: fit-content;
  max-width: 10rem;
}

div.item.anarchy-skill {
  background: var(--gradient-silver);
}
div.item.anarchy-gear,
div.item.anarchy-contact {
  background: var(--wordlist-color) !important;
}
div.item.anarchy-shadowamp {
  background: var(--gradient-silver);
}
div.item.anarchy-quality {
  background: var(--gradient-ellipse-silver);
}
div.item.anarchy-quality.negative {
  background: var(--gradient-purple-black);
  border-style: dashed;
}  

.anarchy-button {
  background: var(--gradient-silver);
  border-radius: 6px;
  border: 2px groove var(--border-medium);
  display: inline-block;
  cursor: pointer;
  margin: 2px;
  padding: 3px 5px;
  position: relative;
  height: fit-content;
  width: fit-content;
}

.chat-message .anarchy-button{
  background: var(--gradient-silver-light-opaque);
}
.chat-message .anarchy-button label{
  color: var(--font-color-dark);
}

.anarchy-button:hover {
  background-color: var(--hover-tint);
}
.anarchy-button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

div#gm-manager {
	position: absolute;
  display: block;
  z-index: 100;

  grid-column: 1;
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
  border: 1px solid var(--border-medium);
  border-radius: 6px;
  background: var(--background-black);
}

div#gm-manager header {
	margin: 2px;
	padding: 2px;
  border-bottom: 1px solid var(--border-light);
  color: var(--font-color-light);
}

div#gm-manager div.anarchy-monitor-anarchy {
  align-items: flex-start;
  max-width: fit-content;
}

/* Generic styles*/
li.list-header {
  align-content: flex-start;
  justify-content: flex-start;
  font-weight: bold;
  flex-grow: 0;
}
li.flexrow.item span {
  text-align: left;  
}

.alternate-items > .item {
  margin: 0.1rem;
  box-shadow: inset 0px 0px 1px var(--border-medium);
  padding: 0.1rem;
  display: flex !important;
  align-items: baseline !important;
}

.alternate-items > .item:hover {
  background: var(--border-light);
}
.alternate-items > .item:nth-child(even) {
  background: var(--border-dark);
}
.alternate-items > .item:nth-child(odd) {
  background: var(--border-medium);
}


a.item-control i,
a.item-control img {
  font-size: small;
  color: var(--controls-color);
}

div.checkbar-root[data-monitor-code='edge'] a.click-checkbar-element[data-checked=true] i {
  color: var(--checked-resource-color);
}
a.click-checkbar-element[data-checked=true] i {
  color: var(--checked-monitor-color);
}
a.click-checkbar-element[data-checked=false] i {
  color: var(--unchecked-color);
}
i.hide-fontawesome {
  font-size: small;
  color: var(--transparent);
}

/* Flex/grid configuration */
div.item.flexcol {
  gap: 2px;
  align-items: flex-start;
}

div.item.flexrow {
  gap: 1px;
  align-items: flex-start;
  justify-content: space-between;
  vertical-align: top;
}
.flex-group-left {
  gap: 2px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: left;
  vertical-align: top;
}

.flex-grow-3 { flex-grow: 3; flex-basis: auto;}
.flex-grow,
.flex-grow-2 { flex-grow: 2; }
.flex-grow-0 { flex-grow: 0; }
.flex-wrap { flex-wrap: wrap; }
.flex-shrink { flex: content; flex-grow: 0;}
.flex-end { justify-content: flex-end; }
.flex-shrink-end {
  flex: content;
  flex-grow: 0;
  vertical-align: top;
  align-items: flex-end;
}
.flex-shrink-control-start {
  flex: content;
  flex-grow: 1rem;
  justify-content: left;
  max-width: 2rem;
}
.flex-shrink-start {
  flex: content;
  flex-grow: 0.5;
  justify-content: flex-start;
  min-width: 32px;
}
.flex-shrink-left { 
  flex-grow: 0;
  flex-wrap: nowrap;
  flex-basis: content;
  flex-direction: row;
  justify-content: left;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-2col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* TODO: redefine the role of these groups */
div.form-group {
  align-items: flex-start;
}

/* form input and controls */
.editor {
  border: 2;
  height: 150px;
  min-height: 80px;
  padding: 0 3px;
}

.tox .tox-edit-area {
  padding: 0 8px;
}

input[type='number'] {
  max-width: 2rem;
}
input.anarchy-essence[type='number'] {
  max-width: 3rem;
}

/* Default Anarchy style */
div#gm-manager.root-style-anarchy{
  min-width: 300px !important;
  background: var(--anarchy-background);
  background-size: 50%;
  color: var(--anarchy-font);
}

div#gm-manager.root-style-anarchy div.header{
  display: grid;
  margin: 2px;
  padding: 2px;
  border-bottom: 1px solid var(--border-light);
}
div#gm-manager.root-style-anarchy div {
  padding: 2px;
  vertical-align: top;
}
div#gm-manager.root-style-anarchy label{
  color: var(--anarchy-font);
}
div#gm-manager.root-style-anarchy .anarchy-button label{
  background: var(--anarchy-button-background);
  color: var(--anarchy-font);
}

.root-style-anarchy .window-content {
  background: var(--anarchy-background);
  background-size: 50%;
  color: var(--anarchy-font);
}

.root-style-anarchy .window-content form.npc-sheet {
  background: var(--darker-npc);
}
.root-style-anarchy div.item.anarchy-attribute {
 background: var(--anarchy-attributes-background);
}
.root-style-anarchy div.item:is(.anarchy-skill,.anarchy-gear,.anarchy-contact,.anarchy-shadowamp,.anarchy-quality),
.root-style-anarchy div:is(.anarchy-keywords,.anarchy-dispositions,.anarchy-cues) input {
  background: var(--anarchy-item-background);
}
.root-style-anarchy .anarchy-weapon > .item{
  background: var(--anarchy-weapon-background);
}
.root-style-anarchy .anarchy-weapon > .item:hover {
  background: var(--border-light);
}
.root-style-anarchy .anarchy-weapon > .item:nth-child(even) {
  background: var(--anarchy-weapon-background-even);
}
.root-style-anarchy .anarchy-weapon > .item:nth-child(odd) {
  background: var(--anarchy-weapon-background-odd);
}

.root-style-anarchy div.item:is(.anarchy-skill,.anarchy-gear,.anarchy-contact,.anarchy-shadowamp,.anarchy-quality) img{
  background: var(--anarchy-item-img-background);
}
.root-style-anarchy div.item.anarchy-quality.negative {
  background: var(--anarchy-quality-negative-background);
  border-style: dashed;
}

.root-style-anarchy input,
.root-style-anarchy select,
.root-style-anarchy label,
.root-style-anarchy button {
  color: var(--anarchy-font);
}  
.root-style-anarchy .window-content select option{
  background: var(--anarchy-background);
  background-size: 50%;
  color: var(--anarchy-font);
}  
.root-style-anarchy .anarchy-button {
  background: var(--anarchy-button-background);
  color: var(--anarchy-font)
}
.root-style-anarchy .tooltip .tooltip-roll-modifiers {
  background: var(--anarchy-tooltip-background);
}

.root-style-anarchy div:is(
  .anarchy-keywords,
  .anarchy-dispositions,
  .anarchy-cues) {
  border: none;
  background-color: var(--transparent);
}
.root-style-anarchy div:is(
  .anarchy-keywords,
  .anarchy-dispositions,
  .anarchy-cues) input {
  border-color: var(--border-dark);
}

.root-style-anarchy a.item-control i,
.root-style-anarchy a.item-control img {
  font-size: small;
  color: var(--anarchy-controls-color);
}

/* Shadowrun Anarchy style */
.root-style-anarchy-shadowrun .window-content  {
  background: var(--background-black);
  color: var(--font-color-light);
}

.root-style-anarchy-shadowrun .window-content form.npc-sheet {
  background: var(--lighter-npc);
}

.root-style-anarchy-shadowrun input,
.root-style-anarchy-shadowrun select,
.root-style-anarchy-shadowrun label,
.root-style-anarchy-shadowrun button {
  color: var(--font-color-light);
}  
.root-style-anarchy-shadowrun .window-content select option{
  background-color: var(--background-dark);
  color: var(--font-color-light);
}
.root-style-anarchy-shadowrun .tox .tox-editor-container {
  background: var(--gradient-silver-light-opaque);
}
.root-style-anarchy-shadowrun .tooltip .tooltip-roll-modifiers {
  background: var(--gradient-silver-light-opaque);
}

/* Dark glass style */
.root-style-darkglass .window-content  {
  background: var(--gradient-dark);
  color: var(--font-color-light);
}
.root-style-darkglass .window-content form.npc-sheet {
  background: var(--lighter-npc);
}

.root-style-darkglass input,
.root-style-darkglass select,
.root-style-darkglass label,
.root-style-darkglass button {
  color: var(--font-color-light);
}
.root-style-darkglass select option{
  background-color: var(--background-dark);
  color: var(--font-color-light);
}
.root-style-darkglass .tox .tox-editor-container {
  background: var(--gradient-silver-light-opaque);
}
.root-style-darkglass .tooltip .tooltip-roll-modifiers {
  background: var(--gradient-silver-light-opaque);
}

/* Tooltips container */
.window-app.sheet .window-content .tooltip:hover .tooltiptext {
  top: 1rem;
  left: 1rem;
  margin: 0;
  padding: 0.25rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-dotted {
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  text-align: center;
  /* Position the tooltip text */
  top: 20px;
  position: absolute;
  z-index: 1;
  
  /* Fade in tooltip */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-roll-modifiers {
  z-index: 1000 ;
  width: 200px;
  left: -20px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 3px 0;
}
