:root {
  --controls-color: rgba(7, 63, 15, 0.7);
  --checked-color: rgba(248, 118, 12, 0.664);
  --unchecked-color: rgba(150, 202, 158, 0.7);
  --gradient-silver: linear-gradient(45deg, rgba(61, 55, 93, 0.3), rgba(178, 179, 196, 0.3), rgba(59, 62, 63, 0.6), rgba(206, 204, 199, 0.3), rgba(61, 46, 49, 0.3));
  --gradient-gold: linear-gradient(30deg, rgba(191, 149, 63, 0.3), rgba(252, 246, 186, 0.3), rgba(179, 135, 40, 0.3), rgba(251, 245, 183, 0.3), rgba(170, 119, 28, 0.3));
  --gradient-green: linear-gradient(30deg, rgba(7, 76, 0, 0.3), rgba(66, 163, 65, 0.2), rgba(184, 226, 163, 0.1), rgba(66, 163, 65, 0.2), rgba(184, 226, 163, 0.3));
  --gradient-yellow: linear-gradient(45deg, rgba(165, 142, 10, 0.3), rgba(163, 161, 65, 0.2), rgba(222, 226, 163, 0.1), rgba(156, 163, 65, 0.2), rgba(225, 226, 163, 0.3));
  --gradient-purple-black: linear-gradient(130deg,  rgba(0, 0, 0, 0.7), rgba(100, 45, 124, 0.4), rgba(82, 17, 131, 0.3),rgba(100, 45, 124, 0.4), rgba(0, 0, 0, 0.7));
  --gradient-purple-black2: conic-gradient( rgba(82, 17, 131, 0.3), rgba(79, 33, 99, 0.5), rgba(100, 45, 124, 0.4), rgba(82, 17, 131, 0.3));
  --gradient-silver-light: linear-gradient(30deg, rgba(61, 55, 93, 0.2), rgba(178, 179, 196, 0.1), rgba(59, 62, 63, 0.2), rgba(206, 204, 199, 0.1), rgba(61, 46, 49, 0.2));
  --gradient-silver-light-opaque: linear-gradient(30deg, rgba(208, 203, 236, 0.9), rgba(216, 217, 230, 0.9), rgba(130, 138, 141, 0.9), rgba(165, 159, 146, 0.9), rgba(204, 195, 197, 0.9));
  --color-wordlist: rgba(154, 155, 120, 0.2);
}

h1, h2, h3, h4 {
  font-weight: bold;
}


div.item.flexcol {
  gap: 2px;
  align-items: flex-start;
}

li.list-item.item.flexrow,
div.item.flexrow {
  gap: 1px;
  align-items: flex-start;
  justify-content: space-between;
  vertical-align: top;
}
div.flex-group-left {
  gap: 2px;
  align-items: flex-start;
  justify-content:space-between;
  vertical-align: top;
}

.flex-grow-3 { flex-grow: 3; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-0 { flex-grow: 0; }
.flex-wrap { flex-wrap: wrap; }
.flex-shrink { flex: 'flex-shrink'; }
.flex-end { justify-content: flex-end; }
.flex-shrink-end { flex: 'flex-shrink'; flex-grow: 0; justify-content: flex-end; }
.flex-shrink-start { flex: 'flex-shrink'; flex-grow: 0.5; justify-content: flex-start; min-width: 32px;}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-2col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dialog-img,
.chat-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
  border: 0;
  padding: 2px;
  float: left;
  border-radius: 6px;
  object-fit: cover;
}

.sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 128px;
  flex: 0 0 128px;
  height: 128px;
  width: 128px;
  margin-right: 10px;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 6px;
}

.sheet-item-img {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  margin-right: 0.1rem;
  vertical-align: top;
  border-radius: 6px;
}

.editor {
  border: 2;
  height: 150px;
  min-height: 80px;
  padding: 0 3px;
}

.tox .tox-editor-container {
  background: #fff;
}
.tox .tox-edit-area {
  padding: 0 8px;
}

div.style-keyword-list,
div.style-disposition-list,
div.style-cue-list {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: var(--controls-color);
  background-color: var(--color-wordlist);
}

div.style-keyword-list input,
div.style-disposition-list input,
div.style-cue-list input{
  border-width: 1px;
  border-style: dashed;
  border-color: var(--controls-color);
}

.list-item {
  margin: 0.1rem;
  box-shadow: inset 0px 0px 1px #0000003d;
  border-radius: 0.25rem;
  padding: 0.1rem;
  flex: 1 1 3rem;
  display: flex !important;
  align-items: baseline !important;
}

.alterne-list > .list-item:hover {
  background: rgba(100, 100, 50, 0.25);
}
.alterne-list > .list-item:nth-child(even) {
  background: rgba(80, 60, 0, 0.10);
}
.alterne-list > .list-item:nth-child(odd) {
  background: rgb(160, 130, 100, 0.10);
}

.list-header {
  align-content: flex-start;
  justify-content: flex-start;
  font-weight: bold;
  flex-grow: 0;
}

li.flexrow.item span {
  text-align: left;  
}


div.style-chat-modifiers {
  margin: 1px;
  padding: 1px;
  border-width: 1px;
  border-style: dashed;
  /* border-color: var(--controls-color); */
}

div.style-chat-anarchy-risk-glitch {
  margin: 1px;
  padding: 1px;
  border-radius: 6px;
  background: var(--gradient-purple-black) !important;
}
div.style-chat-anarchy-risk-prowess {
  margin: 1px;
  padding: 1px;
  border-radius: 6px;
  background: var(--gradient-gold) !important;
}

div.item {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}

div.item.style-attribute input {
  width: 2rem;
}
div.item.style-attribute {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  background: var(--gradient-gold) !important;
  flex-basis: auto;
  width: auto;
}

div.item.style-skill {
  max-width: 12rem;  
}

div.item.style-gear,
div.item.style-contact{
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  background: var(--gradient-yellow) !important;
}


div.item.style-shadowamp,
div.item.style-skill,
div.item.style-quality-positive {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  background: var(--gradient-silver-light) !important;
  flex-basis: auto;
  width: auto;
}  
div.item.style-quality-negative {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  background: var(--gradient-purple-black) !important;
  flex-basis: auto;
  width: auto;
}  

div.item.quality-negative {
  border-style: dashed;
}
a.item-control i {
  font-size: small;
  color: var(--controls-color);
}
a.click-checkbar-element.checked-element i {
  color: var(--checked-color);
}
a.click-checkbar-element.unchecked-element i {
  color: var(--unchecked-color);
}
div.form-group {
  align-items: flex-start;
}

input.item-field-value-numeric {
  max-width: 2rem;
}

.style-button {
  box-shadow: inset 0px 1px 0px 0px #817a79d8;
  background: var(--gradient-silver);
  border-radius: 3px;
  border: 2px ridge #c0beb9;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 4px 12px 0px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
  position: relative;
  margin:2px;
}

.style-button:hover {
  background: var(--gradient-silver);
  background-color: rgba(103, 144, 184, 0.678);
}
.style-button:active {
  position:relative;
  top:1px;
}


.window-app.sheet .window-content .tooltip:hover .tooltiptext {
  top: 2rem;
  left: 2rem;
  margin: 0;
  padding: 0.25rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-dotted {
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  text-align: center;
  /* Position the tooltip text */
  top: 20px;
  position: absolute;
  z-index: 1;
  
  /* Fade in tooltip */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-roll-modifiers {
  z-index: 1000 ;
  width: 200px;
  left: -20px;
  background: var(--gradient-silver-light-opaque);
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 3px 0;
}

#anarchy-manager {
	position: absolute;
  display: block;
  z-index: 100;
}

.anarchy-manager{
  min-width: 206px;
  grid-row: 2;
  grid-column: 1;
  height: fit-content;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3%;
  background: rgba(58, 58, 58, 0.8);
  z-index: 100;
}

.anarchy-manager-header{
  display: grid;
	margin: 3px;
	padding: 3px;
	width: 200px;
  border-bottom: 1px solid rgb(196, 196, 196);
  color: rgb(196, 196, 196);
}
.anarchy-manager-content {
  padding: 3px;
  color: rgb(196, 196, 196);
  vertical-align: top;
}
.anarchy-manager-content input:disabled {
  color: rgb(196, 196, 196);
}