:root {
  --font-color: hsl(0, 0%, 83%);
  --controls-color: hsla(100, 30%, 60%, 0.6);
  --checked-color: hsla(50, 80%, 50%, 0.6);
  --unchecked-color: hsla(130, 80%, 40%, 0.6);
  --wordlist-color: hsla(200, 50%, 70%, 0.3);
  --border-dark:hsla(200, 10%, 30%, 0.4);
  --border-medium:hsla(200, 10%, 45%, 0.4);
  --border-light: hsla(200, 10%, 60%, 0.4);
  --hover-tint: hsla(210, 44%, 69%, 0.486);
  --background-dark:hsla(200, 5%, 30%, 0.8);
  --gradient-dark: repeating-linear-gradient(80deg,
    hsla(0, 0%, 0%, 0.8) 0% 3%,
    hsla(0, 0%, 15%, 0.8) 7%,
    hsla(0, 0%, 10%, 0.9) 9% 12%,
    hsla(0, 0%, 20%, 0.8) 16%,
    hsla(0, 0%, 13%, 0.9) 18%,
    hsla(0, 0%, 0%, 0.8) 20% 25%, 
    hsla(0, 0%, 10%, 0.8) 30%,
    hsla(0, 0%, 15%, 0.8) 38%,
    hsla(0, 0%, 10%, 0.8) 41%, 
    hsla(0, 0%, 5%, 0.8) 44%, 
    hsla(0, 0%, 0%, 0.8) 50%);
  --gradient-dark-transparent: repeating-linear-gradient(80deg,
    hsla(0, 0%, 0%, 0.5) 0% 3%,
    hsla(0, 0%, 15%, 0.5) 7%,
    hsla(0, 0%, 10%, 0.5) 9% 12%,
    hsla(0, 0%, 20%, 0.5) 16%,
    hsla(0, 0%, 13%, 0.5) 18%,
    hsla(0, 0%, 0%, 0.5) 20% 25%, 
    hsla(0, 0%, 10%, 0.5) 30%,
    hsla(0, 0%, 15%, 0.5) 38%,
    hsla(0, 0%, 10%, 0.5) 41%, 
    hsla(0, 0%, 5%, 0.5) 44%, 
    hsla(0, 0%, 0%, 0.5) 50%);
  --gradient-silver: linear-gradient(45deg, rgba(61, 55, 93, 0.4), rgba(178, 179, 196, 0.4), rgba(59, 62, 63, 0.6), rgba(206, 204, 199, 0.4), rgba(61, 46, 49, 0.4));
  --gradient-silver-light-opaque: linear-gradient(30deg, rgba(208, 203, 236, 0.9), rgba(216, 217, 230, 0.9), rgba(130, 138, 141, 0.9), rgba(165, 159, 146, 0.9), rgba(204, 195, 197, 0.9));
  --gradient-gold: repeating-linear-gradient(30deg,
    hsla(40, 50%, 50%, 0.4),
    hsla(55, 92%, 86%, 0.4),
    hsla(41, 63%, 43%, 0.4), 
    hsla(55, 89%, 85%, 0.4), 
    hsla(38, 72%, 39%, 0.4));
  --gradient-purple-black: linear-gradient(130deg,  rgba(0, 0, 0, 0.7), rgba(100, 45, 124, 0.4), rgba(82, 17, 131, 0.4),rgba(100, 45, 124, 0.4), rgba(0, 0, 0, 0.7));
}

h1, h2, h3, h4 {
  font-weight: bold;
}

div.app.window-app.sheet .window-content{
  background: var(--gradient-dark);
  color: var(--font-color);
}

div.app.window-app.sheet .window-content input,
div.app.window-app.sheet .window-content select,
div.app.window-app.sheet .window-content label,
div.app.window-app.sheet .window-content button {
  color: var(--font-color);
}

div.app.window-app.sheet .window-content select option{
  background-color: var(--background-dark);
  color: var(--font-color);
}


div.item.flexcol {
  gap: 2px;
  align-items: flex-start;
}

li.list-item.item.flexrow,
div.item.flexrow {
  gap: 1px;
  align-items: flex-start;
  justify-content: space-between;
  vertical-align: top;
}
div.flex-group-left {
  gap: 2px;
  align-items: flex-start;
  justify-content:space-between;
  vertical-align: top;
}

.flex-grow-3 { flex-grow: 3; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-0 { flex-grow: 0; }
.flex-wrap { flex-wrap: wrap; }
.flex-shrink { flex: 'flex-shrink'; }
.flex-end { justify-content: flex-end; }
.flex-shrink-end { flex: 'flex-shrink'; flex-grow: 0; justify-content: flex-end; }
.flex-shrink-start { flex: 'flex-shrink'; flex-grow: 0.5; justify-content: flex-start; min-width: 32px;}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-2col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dialog-img,
.chat-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
  border: 0;
  padding: 2px;
  float: left;
  border-radius: 6px;
  object-fit: cover;
}

.sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 128px;
  flex: 0 0 128px;
  height: 128px;
  width: 128px;
  margin-right: 10px;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 6px;
}

.sheet-item-img {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  margin-right: 0.1rem;
  vertical-align: top;
  border-radius: 6px;
}

.editor {
  border: 2;
  height: 150px;
  min-height: 80px;
  padding: 0 3px;
}

.tox .tox-editor-container {
  background: var(--gradient-silver-light-opaque);
}
.tox .tox-edit-area {
  padding: 0 8px;
}

div.style-keyword-list,
div.style-disposition-list,
div.style-cue-list {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: var(--border-light);
  background-color: var(--wordlist-color);
}

div.style-keyword-list input,
div.style-disposition-list input,
div.style-cue-list input{
  border-width: 1px;
  border-style: dashed;
  border-color: var(--border-light);
}

.list-item {
  margin: 0.1rem;
  box-shadow: inset 0px 0px 1px var(--border-medium);
  border-radius: 0.25rem;
  padding: 0.1rem;
  flex: 1 1 3rem;
  display: flex !important;
  align-items: baseline !important;
}

.alterne-list > .list-item:hover {
  background: var(--border-light);
}
.alterne-list > .list-item:nth-child(even) {
  background: var(--border-dark);
}
.alterne-list > .list-item:nth-child(odd) {
  background: var(--border-medium);
}

.list-header {
  align-content: flex-start;
  justify-content: flex-start;
  font-weight: bold;
  flex-grow: 0;
}

li.flexrow.item span {
  text-align: left;  
}


div.style-chat-modifiers {
  margin: 1px;
  padding: 1px;
  border-width: 1px;
  border-style: dashed;
}

div.style-chat-anarchy-risk-glitch {
  margin: 1px;
  padding: 1px;
  border-radius: 6px;
  background: var(--gradient-purple-black) !important;
}
div.style-chat-anarchy-risk-prowess {
  margin: 1px;
  padding: 1px;
  border-radius: 6px;
  background: var(--gradient-gold) !important;
}

div.item {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-color: var(--border-light);
  border-style: solid;
  border-radius: 6px;
}

div.item.style-attribute input {
  width: 2rem;
}
div.item.style-attribute {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  background: var(--gradient-gold) !important;
  flex-basis: auto;
  width: auto;
}

div.item.style-skill {
  max-width: 12rem;  
}

div.item.style-gear,
div.item.style-contact{
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  background: var(--wordlist-color) !important;
}


div.item.style-shadowamp,
div.item.style-skill,
div.item.style-quality-positive {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  background: var(--gradient-silver) !important;
  flex-basis: auto;
  width: auto;
}  
div.item.style-quality-negative {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  background: var(--gradient-purple-black) !important;
  flex-basis: auto;
  width: auto;
}  

div.item.quality-negative {
  border-style: dashed;
}
a.item-control i {
  font-size: small;
  color: var(--controls-color);
}
a.click-checkbar-element.checked-element i {
  color: var(--checked-color);
}
a.click-checkbar-element.unchecked-element i {
  color: var(--unchecked-color);
}
div.form-group {
  align-items: flex-start;
}

input.item-field-value-numeric {
  max-width: 2rem;
}

.style-button {
  box-shadow: inset 0px 1px 0px 0px var(--border-light);
  background: var(--gradient-silver);
  border-radius: 3px;
  border: 2px ridge #c0beb9;
  display: inline-block;
  cursor: pointer;
  padding: 4px 12px 0px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px var(--border-light);
  position: relative;
  margin:2px;
}

.style-button:hover {
  background: var(--gradient-silver);
  background-color: var(--hover-tint);
}
.style-button:active {
  position:relative;
  top:1px;
}


.window-app.sheet .window-content .tooltip:hover .tooltiptext {
  top: 2rem;
  left: 2rem;
  margin: 0;
  padding: 0.25rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-dotted {
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  text-align: center;
  /* Position the tooltip text */
  top: 20px;
  position: absolute;
  z-index: 1;
  
  /* Fade in tooltip */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-roll-modifiers {
  z-index: 1000 ;
  width: 200px;
  left: -20px;
  background: var(--gradient-silver-light-opaque);
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 3px 0;
}

#gm-manager {
	position: absolute;
  display: block;
  z-index: 100;
}

.gm-manager{
  min-width: 206px;
  grid-row: 2;
  grid-column: 1;
  height: fit-content;
  margin: 0;
  padding: 0;
  border: 1px solid var(--border-medium);
  border-radius: 3%;
  background: var(--gradient-dark);
  z-index: 100;
}

.gm-manager-header{
  display: grid;
	margin: 3px;
	padding: 3px;
	width: 200px;
  border-bottom: 1px solid var(--border-light);
  color: var(--font-color);
}
.gm-manager-content {
  padding: 3px;
  color: var(--font-color);
  vertical-align: top;
}
