
div.item.flexcol { gap: 2px; align-items: flex-start; }
div.item.flexrow { gap: 2px; align-items: flex-start; justify-content:space-between; }

.flex-grow-3 { flex-grow : 3; }
.flex-grow-2 { flex-grow : 2; }
.flex-wrap { flex-wrap: wrap; }
.flex-shrink { flex: 'flex-shrink' ; }
.flex-end { justify-content: flex-end; }
.flex-shrink-end { flex: 'flex-shrink' ;  flex-grow: 0; justify-content: flex-end; }

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-2col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}


.sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 128px;
  flex: 0 0 128px;
  height: 128px;
  width: 128px;
  margin-right: 10px;
  object-fit: cover;
  object-position: 50% 0;
}

.sheet-item-img {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  margin-right: 0.1rem;
  vertical-align: bottom;
}

.editor {
  border: 2;
  height: 150px;
  min-height: 80px;
  padding: 0 3px;
}


.tox .tox-editor-container {
  background: #fff;
}

.tox .tox-edit-area {
  padding: 0 8px;
}

.list-item {
  margin: 0.1rem;
  box-shadow: inset 0px 0px 1px #0000003d;
  border-radius: 0.25rem;
  padding: 0.1rem;
  flex: 1 1 3rem;
  display: flex !important;
  align-items: baseline !important;
}

.alterne-list > .list-item:hover {
  background: rgba(100, 100, 50, 0.25);
}
.alterne-list > .list-item:nth-child(even) {
  background: rgba(80, 60, 0, 0.10);
}
.alterne-list > .list-item:nth-child(odd) {
  background: rgb(160, 130, 100, 0.10);
}

.list-header {
  align-content: flex-start;
  justify-content: flex-start;
  font-weight: bold;
  flex-grow: 0;
}

li.flexrow.item span {
  text-align: left;  
}

div.item {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
}
div.item.quality-negative {
  border-style: dashed;
}
a.item-control i {
  color: rgba(7, 63, 15, 0.7);
}
div.form-group {
  align-items: flex-start;
}