<div class="flexrow anarchy-armor">
  <input class="label" name="data.monitors.armor.label" type="text" data-dtype="String"
    value="{{data.data.monitors.armor.label}}" placeholder="{{localize 'ANARCHY.actor.monitors.armor'}}"/>
  <input class="value" name="data.monitors.armor.max" type="number" data-dtype="Number" 
    value="{{data.data.monitors.armor.max}}"/>
</div>
