<div class="flexrow">
  <input class="flex-grow-2" name="data.monitors.armor.label" type="text" data-dtype="String"
    value="{{data.data.monitors.armor.label}}" placeholder="{{localize 'SRA.actor.monitors.armor'}}"/>
  <input name="data.monitors.armor.max" type="text" data-dtype="Number" 
    value="{{data.data.monitors.armor.max}}"/>
</div>
