<div class="flexrow">
  <input class="style-armor-header-label" name="data.monitors.armor.label" type="text" data-dtype="String"
    value="{{data.data.monitors.armor.label}}" placeholder="{{localize 'ANARCHY.actor.monitors.armor'}}"/>
  <input class="style-armor-header-value" name="data.monitors.armor.max" type="text" data-dtype="Number" 
    value="{{data.data.monitors.armor.max}}"/>
</div>
