<div class="SRA-armor flexcol">
  <h2><div class="flexrow">
    <input name="data.monitors.armor.label" type="text" data-dtype="String" size=12
      value="{{data.data.monitors.armor.label}}" placeholder="{{localize 'SRA.actor.monitors.armor'}}"/>
    <input name="data.monitors.armor.max" type="text" data-dtype="Number" size=2
      value="{{data.data.monitors.armor.max}}"/>
  </div></h2>
  {{> "systems/shadowrun-anarchy/templates/common/checkbar.hbs"
    code='armor'
    value=data.data.monitors.armor.value
    max=data.data.monitors.armor.max
    labelkey='SRA.actor.monitors.armor'
    rowlength=(divup data.data.monitors.armor.max 3)
    adjust=false
  }}
</div>
