<a class="item style-button click-roll-attribute-action flex-grow-0"
  data-attribute="{{attribute}}" data-attribute2="{{attribute2}}" data-action-code="{{actionCode}}">
  <label>{{localize labelkey}}</label>
</a>