<select class="character-capacity" name="data.description.capacity" data-dtype="String">
  {{#select data.data.description.capacity}}
  <option value="mundane">{{localize 'SRA.capacity.mundane'}}</option>
  <option value="awakened">{{localize 'SRA.capacity.awakened'}}</option>
  <option value="emerged">{{localize 'SRA.capacity.emerged'}}</option>
  {{/select}}
</select>
