<div class="flexrow item style-contact" data-item-id="{{_id}}" data-item-type="contact">
  {{#if img}}
  <img class="sheet-item-img" src="{{img}}" alt="name"/>
  {{/if}}
  <span>
    <label>{{name}}</label>
  </span>
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs'}}
</div>
