<div class="flexrow item anarchy-contact {{#if data.inactive}}item-inactive{{/if}}" data-item-id="{{_id}}" data-item-type="contact" draggable="true">
  {{#if img}}
  <img class="anarchy-img item-img" src="{{img}}" alt="name"/>
  {{/if}}
  <span>
    <label>{{name}}</label>
  </span>
  {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
</div>
