<div class="define-item-type contact" data-item-type="contact">
  <h2>
    <label>{{localize 'SRA.itemType.plural.contact'}}</label>
    <a class="item-control item-add" title="{{localize 'SRA.common.add'}}"><i class="fas fa-plus-circle"></i></a>
  </h2>
  <div class="flexrow flex-wrap">
    {{#each items.contact as |contact|}}
    {{> "systems/shadowrun-anarchy/templates/actor/parts/contact.hbs" contact}}
    {{/each}}
  </div>
</div>