<div class="SRA-anarchy flexrow">
  <span class="flex-shrink">
    {{localize (concat 'SRA.sheet.counters.anarchy')}}
  </span>
  <span class="flex-grow-3">
  {{> "systems/shadowrun-anarchy/templates/common/checkbar.hbs"
    code='anarchy'
    value=data.data.counters.anarchy.value
    max=data.data.counters.anarchy.max
    labelkey='SRA.sheet.counters.anarchy'
    rowlength=6
    adjust=false
  }}
  </span>
</div>
