<div class="flexrow" class="SRA-edge">
  <span class="flex-shrink">
    {{localize (concat 'SRA.sheet.counters.edge')}}
  </span>
  <span class="flex-grow-3">
  {{> "systems/shadowrun-anarchy/templates/common/checkbar.hbs"
    code='edge'
    value=data.data.counters.edge.value
    max=data.data.attributes.edge.value
    labelkey='SRA.sheet.counters.edge'
    rowlength=6
    adjust=false
  }}
  </span>
</div>
