<div class="flexcol">
  <h2>{{localize 'SRA.common.description'}}</h2>
  <div class="form-group editor actor-editor">
    {{editor 
      target="data.description"
      owner=options.owner
      content=data.data.description 
      button=true
      editable=options.editable}}
  </div>
</div>
