<div class="flexcol">
  <span><label>{{localize 'SRA.common.description'}}</label></span>
  <div class="form-group editor actor-editor">
    {{editor 
      target="data.description.description"
      owner=options.owner
      content=data.data.description.description 
      button=true
      editable=options.editable}}
  </div>
</div>
