<div class="flexrow">
<label class="attribute-label" for="data.counters.essence.value">{{localize 'SRA.actorSheet.counters.essence'}}</label>
<input class="attribute-value" type="text" maxlength="3" size=3
  data-dtype="Number" min="0.5" max="6"
  name="data.counters.essence.value" value="{{numberFormat data.data.counters.essence.value decimals=0 sign=false}}" 
/>
<label>{{essence.adjust}} {{localize "SRA.essence.adjustments"}}</label>
</div>
