<div class="define-item-type gear" data-item-type="gear">
  <h2>
    <label>{{localize 'SRA.itemType.plural.gear'}}</label>
    <a class="item-control click-item-add" title="{{localize 'SRA.common.add'}}"><i class="fas fa-plus-circle"></i></a>
  </h2>
  <div class="flexrow flex-wrap">
    {{#each items.gear as |gear|}}
    {{> "systems/shadowrun-anarchy/templates/actor/parts/gear.hbs" gear}}
    {{/each}}
  </div>
</div>
