{{#if options.isGM}}
<div class="flexcol">
  <span><label>{{localize 'SRA.common.gmnotes'}}</label></span>
  <div class="form-group editor actor-editor">
    {{editor
      target="data.gmnotes"
      owner=options.owner
      content=data.data.gmnotes
      button=true
      editable=options.editable}}
  </div>
</div>
{{/if}}