{{#if options.isGM}}
<div class="flexcol">
  <span><label>{{localize 'ANARCHY.common.gmnotes'}}</label></span>
  <div class="editor actor-editor">
    {{editor
      target="data.gmnotes"
      owner=options.owner
      content=data.data.gmnotes
      button=true
      editable=options.editable}}
  </div>
</div>
{{/if}}