{{#if options.isGM}}
<div class="flexcol">
  <span><label>{{localize 'SRA.common.gmnotes'}}</label></span>
  <div class="form-group editor actor-editor">
    {{editor content=data.data.description.gmnotes target="data.description.gmnotes" button=true owner=options.owner editable=options.editable}}
  </div>
</div>
{{/if}}