<div class="flexrow">
  <label>{{localize 'SRA.sheet.karma'}}</label>
  <input type="text" data-dtype="Number"
    name="data.description.karma.value" value="{{data.description.karma.value}}" 
  />
  <label>/ {{localize 'SRA.sheet.karmatotal'}}</label>
  <input type="text" data-dtype="Number"
    name="data.description.karma.total" value="{{data.description.karma.total}}" 
  />
</div>
