<div class="flexrow">
  <label for="data.counters.karma.value">{{localize 'SRA.sheet.counters.karma'}}</label>
  <input type="text" data-dtype="Number"
    name="data.counters.karma.value" value="{{data.data.counters.karma.value}}" 
  />
  <label for="data.counters.karma.total">{{localize 'SRA.sheet.counters.karmatotal'}}</label>
  <input type="text" data-dtype="Number"
    name="data.counters.karma.total" value="{{data.data.counters.karma.total}}" 
  />
</div>