<div class="flexrow">
  <label for="data.counters.karma.value">{{localize 'ANARCHY.actor.counters.karma'}}</label>
  <input type="number" data-dtype="Number"
    name="data.counters.karma.value" value="{{data.data.counters.karma.value}}" 
  />
  <label for="data.counters.karma.total">{{localize 'ANARCHY.actor.counters.karmaTotal'}}</label>
  <input type="number" data-dtype="Number"
    name="data.counters.karma.total" value="{{data.data.counters.karma.total}}" 
  />
</div>