<div class="define-item-type metatype">
  {{#if items.metatype}}
  {{#each items.metatype as | metatype |}}
  <span>{{metatype.name}}</span>
  {{/each}}
  {{else}}
  <span>{{localize SRA.actor.noMetatype}}</span>
  {{/if}}
</div>
