<div class="anarchy-metatype">
  {{#if items.metatype}}
  {{#each items.metatype as | metatype |}}
  <span>{{metatype.name}}</span>
  {{/each}}
  {{else}}
  <span>{{localize ANARCHY.actor.noMetatype}}</span>
  {{/if}}
</div>
