<h2>
  {{localize 'SRA.actor.monitors.conditionMonitors'}}
</h2>
<div class="flexrow flex-wrap">
  <div class="flexcol">
    <h3>{{localize 'SRA.actor.monitors.physical'}}</h3>
    {{> "systems/shadowrun-anarchy/templates/common/checkbar.hbs"
      code='physical'
      value=data.data.monitors.physical.value
      max=data.data.monitors.physical.max
      labelkey='SRA.actor.monitors.physical'
      rowlength=3
      adjust=true
      checkicon='fas fa-heartbeat'
      uncheckicon='far fa-heart'
    }}
  </div>
  <div class="flexcol">
    <h3>{{localize 'SRA.actor.monitors.stun'}}</h3>
    {{> "systems/shadowrun-anarchy/templates/common/checkbar.hbs"
      code='stun'
      value=data.data.monitors.stun.value
      max=data.data.monitors.stun.max
      labelkey='SRA.actor.monitors.stun'
      rowlength=3
      adjust=true
    }}
  </div>
</div>
