<div class="flexrow define-item-type item anarchy-quality {{#unless data.positive}}negative{{/unless}}" data-item-id="{{_id}}" data-item-type="quality" draggable="true">
  {{#if img}}
  <img class="anarchy-img item-img" src="{{img}}" alt="name"/>
  {{/if}}
  <div class="flexcol">
    <label>{{name}}</label>
    <label class="item-description">{{{data.description}}}</label>
  </div>
  {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
</div>
