<div class="flexrow item style-quality {{#unless data.positive}}style-quality-negative{{/unless}}" data-item-id="{{_id}}" data-item-type="quality">
  {{#if img}}
  <img class="sheet-item-img" src="{{img}}" alt="name"/>
  {{/if}}
  <div class="flexcol">
    <label>{{name}}</label>
    <label class="item-description">{{{data.description}}}</label>
  </div>
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs'}}
</div>
