<div class="define-item-type quality" data-item-type="quality">
  <h2>
      <label>{{localize 'SRA.itemType.plural.quality'}}</label>
      <a class="item-control click-item-add" title="{{localize 'SRA.common.add'}}"><i class="fas fa-plus-circle"></i></a>
  </h2>
  <div class="flexrow flex-wrap">
    {{#each items.quality as |quality|}}
    {{> "systems/shadowrun-anarchy/templates/actor/parts/quality.hbs" quality}}
    {{/each}}
  </div>
</div>
