<div class="define-item-type item-container" data-item-type="quality">
  <h2>
      <label>{{localize 'ANARCHY.itemType.plural.quality'}}</label>
      {{> 'systems/anarchy/templates/common/item-control-add.hbs' itemType='quality'}}
  </h2>
  <div class="flexrow flex-wrap">
    {{#each items.quality as |quality|}}
    {{> "systems/anarchy/templates/actor/parts/quality.hbs" quality}}
    {{/each}}
  </div>
</div>
