<div class="define-item-type anarchy-shadowamp-list" data-item-type="shadowamp">
  <h2>
    <label>{{localize 'ANARCHY.itemType.plural.shadowamp'}}</label>
    {{> 'systems/anarchy/templates/common/item-control-add.hbs' itemType='shadowamp'}}
  </h2>
  <div class="flexrow flex-wrap">
    {{#each items.shadowamp as |shadowamp|}}
    {{> "systems/anarchy/templates/actor/parts/shadowamp.hbs" shadowamp}}
    {{/each}}
  </div>
</div>