<div class="flexrow flex-wrap">
  <div class="flexcol">
    <label>{{localize 'SRA.actor.monitors.physical'}}</label>
    {{> "systems/shadowrun-anarchy/templates/common/checkbar.hbs"
      code='physical'
      value=data.data.monitors.physical.value
      max=data.data.monitors.physical.max
      labelkey='SRA.actor.monitors.physical'
      rowlength=3
      adjust=true
      iconChecked=(iconFA 'fas fa-heartbeat')
      iconUnchecked=(iconFA 'far fa-heart')
    }}
  </div>
  <div class="flexcol">
    <label>{{localize 'SRA.actor.monitors.stun'}}</label>
    {{> "systems/shadowrun-anarchy/templates/common/checkbar.hbs"
      code='stun'
      value=data.data.monitors.stun.value
      max=data.data.monitors.stun.max
      labelkey='SRA.actor.monitors.stun'
      rowlength=3
      adjust=true
      iconChecked=(iconFA 'fas fa-bahai')
      iconUnchecked=(iconFA 'far fa-circle')
    }}
  </div>
</div>
