<div class="define-item-type item anarchy-item anarchy-quality {{#if data.positive}}positive{{else}}negative{{/if}} {{#if data.inactive}}item-inactive{{/if}}" data-item-id="{{_id}}" data-item-type="quality" draggable="true">
  <label>
    {{name}}
    <br>
    {{{data.description}}}
  </label>
  {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
</div>
