<div class="flexrow define-item-type item anarchy-quality {{#unless data.positive}}negative{{/unless}}" data-item-id="{{_id}}" data-item-type="quality">
  {{> 'systems/anarchy/templates/common/item-controls.hbs' controlDivClass='flex-shrink-control-start'}}
  <div class="flexcol">
    <label>{{name}}</label>
    <label class="item-description">{{{data.description}}}</label>
  </div>
</div>
