<div class="flexrow define-item-type item style-quality {{#unless data.positive}}style-quality-negative{{/unless}}" data-item-id="{{_id}}" data-item-type="quality">
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs' controlDivClass='flex-shrink-control-start'}}
  <div class="flexcol">
    <label>{{name}}</label>
    <label class="item-description">{{{data.description}}}</label>
  </div>
</div>
