 <div class="flexrow define-item-type item style-shadowamp" data-item-id="{{_id}}" data-item-type="shadowamp">
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs' controlDivClass='flex-shrink-control-start'}}
  <div>
    <label>{{name}}</label>
    <br>
    <label>{{{data.description}}}</label>
  </div>
</div>
