<div class="define-item-type skill" data-item-type="skill">
  <h2>
    <label>{{localize 'ANARCHY.itemType.plural.skill'}}</label>
    {{> 'systems/anarchy/templates/common/item-control-add.hbs' itemType='skill'}}
  </h2>
  <div class="flexrow flex-wrap">
    {{#each items.skill as |skill|}}
    {{> "systems/anarchy/templates/actor/npc-parts/skill.hbs" skill}}
    {{/each}}
  </div>
</div>