<div class="define-item-type" data-item-type="weapon">
  <h2>
    <label class="items-group-label">
      {{localize 'ANARCHY.itemType.plural.weapon'}}
      {{> 'systems/anarchy/templates/common/item-control-add.hbs' itemType='weapon'}}
    </label>
  </h2>
  <ul class="weapon-list">
    {{#each items.weapon as |weapon|}}
    {{> "systems/anarchy/templates/actor/npc-parts/weapon.hbs" weapon}}
    {{/each}}
  </ul>
</div>
