<li class="item anarchy-weapon {{#if data.inactive}}inactive{{/if}}" draggable="true"
    data-item-id="{{_id}}" data-item-type="weapon">
  <div class="weapon-column weapon-summary">
    <a class="click-weapon-roll">
      {{name}}, 
      {{> 'systems/anarchy/templates/common/damage-code.hbs'
        damageAttribute=data.damageAttribute
        actorAttribute=(actorAttribute data.damageAttribute @root.actor)
        damage=data.damage
        monitor=data.monitor
        armor=(weaponArmorMode data.monitor data.noArmor)
      }}
    {{> 'systems/anarchy/templates/actor/parts/weapon-range.hbs'}}
    </a>
  </div>
  <div class="item-controls weapon-column weapon-controls">
    {{> 'systems/anarchy/templates/common/favorite.hbs'
      isFavorite=(actorHasFavorite @root.actor.id id=_id type=type)
      weapon=this
    }}
    {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
  </div>

</li>
