<div class="flexcol item anarchy-vehicle-structure">
  <label>{{localize ANARCHY.actor.monitors.structure}}</label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='structure'
    value=data.data.monitors.structure.value
    max=data.data.monitors.structure.max
    labelkey='ANARCHY.actor.monitors.structure'
    rowlength=9
    iconChecked=(iconFA 'fas fa-car-crash')
    iconUnchecked=(iconFA 'fas fa-car-alt')
  }}
</div>
<div class="flexcol item anarchy-vehicle-attribute-long">
  <label for="data.category">{{localize ANARCHY.actor.vehicle.category}}</label>
  <select name="data.category" data-dtype="String">
    {{log 'categories' ENUMS.vehicleCategories}}
      {{#select data.data.category}}
      {{> 'systems/anarchy/templates/common/enum-value-label.hbs' entries=ENUMS.vehicleCategories}}
      {{/select}}
  </select>
</div>
<div class="flexcol item anarchy-vehicle-attribute-long">
  <label for="data.skill">{{localize ANARCHY.actor.vehicle.skill}}</label>
  <select name="data.skill" data-dtype="String">
      {{#select data.data.skill}}
      {{> 'systems/anarchy/templates/common/enum-value-label.hbs' entries=ENUMS.skills}}
      {{/select}}
  </select>
</div>
