.sheet {
    .character-enhanced {
        .content {
            header {
                height: 150px;
                display: grid;
                grid-template-columns: 150px 1fr;

                .avatar {
                    position: relative;
                    position: relative;
                    margin-top: -6px;
                    margin-left: -6px;


                    .metatype {
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 100px;
                        font-size: 10px;

                        .anarchy-metatype {
                            background-color: white;
                            display: grid;
                            grid-template-columns: 1fr 10px;
                            padding-right: 6px;

                            &.info-value {
                                padding-right: 0px;
                            }

                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }

                .name-attributes {
                    display: grid;
                    grid-template-rows: 50px 100px;

                    .name {
                        transform: translate(-12px, -4px);
                        margin-right: -12px;
                        padding-top: 0px;
                        position: relative;

                        >.right,
                        >.left {
                            top: 0px;
                        }

                        .input {
                            margin-right: 70px;
                            height: 40px;
                            margin-top: 3px;
                            margin-left: 2px;
                            font-size: 24px;

                            input {
                                padding: 4px 8px;
                                background-color: transparent;
                                font-weight: bold;
                            }


                        }

                        .awarness {
                            position: absolute;
                            right: 5px;
                            top: 5px;
                            display: flex;
                            flex-direction: row-reverse;
                            gap: 8px;
                            align-items: center;

                            select {
                                border: 0px;
                                background-color: white;
                            }

                            .connection-mode {
                                transform: translateY(3px);
                                font-size: 12px;

                                i {
                                    font-size: 16px;
                                }

                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }

                    .attributes {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        background-image: linear-gradient(to bottom, #ffffff 0%, #dcdddf 50%, #989999 100%);
                        padding-bottom: 16px;

                        .attribute {
                            display: grid;
                            grid-template-rows: 1fr 2fr;
                            padding: 8px;

                            .label {
                                font-size: 18px;
                                text-transform: uppercase;
                                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                                color: #f4c000;
                                font-weight: bold;
                                font-family: monospace;
                            }

                            .attribute-infos {
                                position: relative;

                                a {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 28px;
                                }

                                .value {
                                    position: absolute;
                                    bottom: -4px;
                                    right: -4px;
                                    font-size: 12px;
                                    width: 18px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}