.wrapper-case {
    --wrapper-padding: 6px;
    --wrapper-background-color: white;
    --wrapper-border-color: black;
    position: relative;
    padding: var(--wrapper-padding);
    text-align: center;

    >.content {
        height: 100%;
        background-color: var(--wrapper-background-color);
    }

    >.side {
        position: absolute;
        background-color: var(--wrapper-background-color);

        &.up {
            height: var(--wrapper-padding);
            left: var(--wrapper-padding);
            right: var(--wrapper-padding);
            border-top: 2px solid var(--wrapper-border-color);
            top: 0px;
        }

        &.down {
            height: var(--wrapper-padding);
            left: var(--wrapper-padding);
            right: var(--wrapper-padding);
            border-bottom: 2px solid var(--wrapper-border-color);
            bottom: 0px;
        }

        &.left {
            width: var(--wrapper-padding);
            left: 0px;
            border-left: 2px solid var(--wrapper-border-color);
            top: var(--wrapper-padding);
            bottom: var(--wrapper-padding);
        }

        &.right {
            width: var(--wrapper-padding);
            right: 0px;
            border-right: 2px solid var(--wrapper-border-color);
            top: var(--wrapper-padding);
            bottom: var(--wrapper-padding);
        }


    }

    >.angle {
        width: 0px;
        height: 0px;
        position: absolute;

        &.tl {
            top: 0;
            left: 0;
            border-top: var(--wrapper-padding) solid transparent;
            border-right: var(--wrapper-padding) solid var(--wrapper-background-color);
        }

        &.tl::before {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: calc(1.41 * var(--wrapper-padding));
            left: 1px;
            top: -1px;
            background-color: var(--wrapper-border-color);
            transform-origin: bottom left;
            transform: rotate(-45deg);
        }

        &.tr {
            top: 0;
            right: 0;
            border-top: var(--wrapper-padding) solid transparent;
            border-left: var(--wrapper-padding) solid var(--wrapper-background-color);
        }

        &.tr::before {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: calc(1.41 * var(--wrapper-padding));
            left: 0px;
            top: -2px;
            background-color: var(--wrapper-border-color);
            transform-origin: bottom left;
            transform: rotate(-135deg);
        }

        &.br {
            bottom: 0;
            right: 0;
            border-bottom: var(--wrapper-padding) solid transparent;
            border-left: var(--wrapper-padding) solid var(--wrapper-background-color);
        }


        &.br::before {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: calc(1.41 * var(--wrapper-padding));
            top: -3px;
            left: -2px;
            background-color: var(--wrapper-border-color);
            transform-origin: bottom left;
            transform: rotate(135deg);
        }

        &.bl {
            bottom: 0;
            left: 0;
            border-bottom: var(--wrapper-padding) solid transparent;
            border-right: var(--wrapper-padding) solid var(--wrapper-background-color);
        }

        &.bl::before {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: calc(1.41 * var(--wrapper-padding));
            top: -2px;
            left: 0px;
            background-color: var(--wrapper-border-color);
            transform-origin: bottom left;
            transform: rotate(45deg);
        }
    }
}