{{#if anarchy.max}}
<div class="flexcol anarchy-monitor anarchy-monitor-anarchy">
  <label class="info-label">
    {{#if anarchy.isGM}}
      {{#if options.isGM}}
        {{localize ANARCHY.common.anarchy.danger}}
      {{/if}}
    {{else}}
      {{localize ANARCHY.common.anarchy.anarchy}}
    {{/if}}
  </label>
  {{#if anarchy.isGM}}
    {{#if options.isGM}}
    {{> "systems/anarchy/templates/common/anarchy-bar.hbs"
      rowlength=6
      value=anarchy.value
      max=anarchy.max
      scene=anarchy.scene
      labelkey=ANARCHY.common.anarchy.danger
      iconChecked=(iconSrc 'style/danger-point.webp' 'checkbar-img')
      iconUnchecked=(iconSrc 'style/danger-point-off.webp' 'checkbar-img')
      iconScene=(iconSrc 'style/anarchy-point-scene.webp' 'checkbar-img')
    }}
    {{/if}}
  {{else}}
    {{> "systems/anarchy/templates/common/anarchy-bar.hbs"
      rowlength=10
      value=anarchy.value
      max=anarchy.max
      scene=anarchy.scene
      labelkey=ANARCHY.common.anarchy.anarchy
      iconChecked=(iconSrc 'style/anarchy-point.webp' 'checkbar-img')
      iconUnchecked=(iconSrc 'style/anarchy-point-off.webp' 'checkbar-img')
      iconScene=(iconSrc 'style/anarchy-point-scene.webp' 'checkbar-img')
    }}
  {{/if}}
</div>
{{/if}}
