<div class="flexcol anarchy-monitor">
  <label class="monitor-label">
    {{localize 'ANARCHY.actor.monitors.matrix'}}
    <input class="info-value" type="number" data-dtype="Number" maxlength="2" 
      class="value" name="data.monitors.matrix.max" 
      value="{{data.data.monitors.matrix.max}}"
    />
  </label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='matrix'
    value=data.data.monitors.matrix.value
    max=data.data.monitors.matrix.max
    labelkey='ANARCHY.actor.monitors.matrix'
    rowlength=6
    iconChecked=(iconFA 'fas fa-laptop-medical')
    iconUnchecked=(iconFA 'fas fa-laptop')
  }}
  <label class="resitance-label">
    {{localize ANARCHY.actor.monitors.resistance}}
    <input class="info-value" type="number" data-dtype="Number" maxlength="2"
      name="data.monitors.matrix.resistance"
      value="{{data.data.monitors.matrix.resistance}}" 
    />
  </label>
</div>
