<div class="flexcol anarchy-monitor">
  <label>
    {{localize 'ANARCHY.actor.monitors.physical'}}
    <input class="info-value" type="number" data-dtype="Number" maxlength="2"
      name="data.monitors.physical.resistance"
      value="{{data.data.monitors.physical.resistance}}" 
    />
  </label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='physical'
    value=data.data.monitors.physical.value
    max=data.data.monitors.physical.max
    labelkey='ANARCHY.actor.monitors.physical'
    rowlength=3
    adjust=true
    iconChecked=(iconFA 'fas fa-heartbeat')
    iconUnchecked=(iconFA 'far fa-heart')
  }}
</div>
