<div class="flexcol anarchy-monitor">
  <label class="info-label">
    {{localize ANARCHY.actor.monitors.structure}}
    <input class="info-value" type="number" data-dtype="Number" maxlength="2"
      name="data.monitors.structure.max"
      value="{{data.data.monitors.structure.max}}" 
    />
    /R
    <input class="info-value" type="number" data-dtype="Number" maxlength="2"
      name="data.monitors.structure.resistance"
      value="{{data.data.monitors.structure.resistance}}" 
    />
  </label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='structure'
    value=data.data.monitors.structure.value
    max=data.data.monitors.structure.max
    labelkey='ANARCHY.actor.monitors.structure'
    rowlength=6
    iconChecked=(iconFA 'fas fa-car-crash')
    iconUnchecked=(iconFA 'fas fa-car-alt')
  }}
</div>
