<div class="flexcol anarchy-monitor">
  <label class="info-label">
    {{localize 'ANARCHY.actor.monitors.stun'}} /R
    <input class="info-value" type="number" data-dtype="Number" maxlength="2"
      name="data.monitors.stun.resistance"
      value="{{data.data.monitors.stun.resistance}}" 
    >
  </label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='stun'
    value=data.data.monitors.stun.value
    max=data.data.monitors.stun.max
    labelkey='ANARCHY.actor.monitors.stun'
    rowlength=3
    adjust=true
    iconChecked=(iconFA 'fas fa-bahai')
    iconUnchecked=(iconFA 'far fa-circle')
  }}
</div>
