<div class="{{#each options.classes as |cssClass|}}{{cssClass}}{{/each}} flexrow">
  <div class="flex-shrink-left flexcol">
    {{> 'systems/anarchy/templates/chat/parts/actor-image.hbs'}}
  </div>
  <div>
    {{!-- Dice pool explanation --}}
    <h3 class="chat-roll-title tooltip tooltip-dotted">
      {{> (concat 'systems/anarchy/templates/chat/parts/' mode '/title.hbs')}}
      <div class="tooltiptext tooltip-roll-modifiers">
        {{> (concat 'systems/anarchy/templates/chat/parts/' mode '/pool.hbs')}}
        {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.wounds}}
        {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.other}}
        {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.anarchyDisposition}}
      </div>
    </h3>

    <div>
      <div class="alternate-items">
      {{> 'systems/anarchy/templates/chat/risk-outcome.hbs'}}
      {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.anarchyDisposition}}
      {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.edge}}
      {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.opponentRerollForced}}
      {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.opponentReduce}}
      </div>
    </div>

    {{#unless modifiers.edge.used}}
    <div>
      {{> 'systems/anarchy/templates/chat/edge-reroll-button.hbs'}}
    </div>
    {{/unless}}
  </div>
</div>