{{#if options.isOwned}}
<div class="form-group">
  <input class="item-field-value" name="data.inactive" type="checkbox" {{checked data.data.inactive}} >
    <label >
      {{localize 'ANARCHY.item.common.inactive'}}
    </label>
  </input>
</div>
{{/if}}