<!--
  data is:
  {
    class
    type: "contact", // identifying the monitor"
    labelkey: "SRA.itemType.singular.contact", label key (to internationalize), used also for css class
  }
-->
<h1 class="item-name">
  <input name="name" type="text" value="{{@root.data.name}}" placeholder="{{localize labelkey}}"/>
</h1>
