<div class="SRA-anarchy flexrow">
  <span class="flex-shrink">
    {{localize 'SRA.actor.counters.anarchy'}}
  </span>
  <span class="flex-grow-3">
  {{> "systems/shadowrun-anarchy/templates/common/checkbar.hbs"
    code='anarchy'
    value=anarchy
    max=maxAnarchy
    labelkey='SRA.actor.counters.anarchy'
    rowlength=10
    adjust=false
    checkicon='fas fa-star'
    uncheckicon='far fa-star'
  }}
  </span>
</div>
