{{!
  data is:
  {
    // the entries to propose as options
    entries: [
      { "value": "k1", "label": "SRA.(...).label1"},
      { "value": "k2", "label": "SRA.(...).label2"},
    ]
  }
}}
{{#unless noEmpty}}
<option value=""></option>
{{/unless}}
{{#each entries as |entry|}}
<option value="{{entry.value}}">{{localize entry.label}}</option>
{{/each}}
