<div class="flex-shrink-end">
<a class="item-control click-item-edit" title="{{localize 'SRA.common.edit'}}"><i class="fas fa-edit"></i></a>
<a class="item-control click-item-delete" title="{{localize SRA.common.del}}"><i class="fas fa-trash"></i></a>
</div>
