<a class="item-control click-item-activate" title="{{localize ANARCHY.common.activate}}">
  {{#if system.inactive}}
  {{{iconFA 'fas fa-toggle-off'}}}
  {{else}}
  {{{iconFA 'fas fa-toggle-on'}}}
  {{/if}}
</a>