<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
    {{> 'systems/shadowrun-anarchy/templates/item/parts/itemname.hbs'
      labelkey='SRA.itemType.singular.gear'
      type="gear"
    }}
  </header>
  <section class="sheet-body">
    {{> 'systems/shadowrun-anarchy/templates/item/parts/references.hbs'}}
  </section>

</form>
